.service-area {
  background-color: $dull;

  .single-service {
    background-color: $white;
    width: 380px;
    margin: 10px;
    padding: 30px;
    border: 2px solid $dull;
    transition: .4s;
    &:hover{
      border-color: $primary_color;
    }
    &:hover{
      i{
      background-color: $primary_color;
      color: $white;
    }
    }
    i {
      height: 50px;
      width: 50px;
      line-height: 50px;
      border: 1px solid $dull;
      border-radius: 50%;
      font-size: 22px;
      margin: 20px 0;
      transition: .4s;
      h4 {
        font-size: 30px;
        font-weight: 600;
        margin: 20px 0;
      }
    }
  }
}

.single-service:nth-child(3), 
.single-service:nth-child(6) {
  margin-right: 0;
}